@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Rubik', sans-serif;
}

.links {
   @apply text-grayishBlue uppercase text-sm ease-in-out duration-300  hover:text-softRed;
}

.btn {
   @apply rounded-md text-sm shadow-lg border-transparent border-2 ease-in-out duration-500 hover:bg-gray-50;
}

.btn-red {
   @apply text-white bg-softRed px-6 py-3  uppercase hover:text-softRed hover:border-softRed hover:border-2;
}

.btn-primary {
   @apply text-white bg-softBlue px-6 py-3 hover:border-softBlue hover:text-softBlue;
}

.btn-outline-secondary {
   @apply text-veryDarkBlue  px-6 py-3 bg-gray-100 hover:border-veryDarkBlue hover:text-veryDarkBlue;
}

.pill {
   @apply bg-softBlue absolute w-[1000px] h-[320px] rounded-full -z-10;
}

.header-2 {
   @apply text-xl font-medium text-veryDarkBlue md:text-3xl;
}

.header-2-mb {
   @apply mb-4 md:mb-7;
}

.paragraph {
   @apply text-grayishBlue max-w-md mx-auto;
}

.paragraph-mb {
   @apply mb-7 md:mb-16;
}

.tab {
   @apply relative w-full text-center border-b-2 cursor-pointer text-grayishBlue ease-in-out duration-300  hover:text-softRed py-4 md:w-[240px] md:pb-7;
}

.active-text {
   @apply text-veryDarkBlue hover:text-veryDarkBlue;
}

.active-tab {
   @apply bg-softRed absolute left-1/2 bottom-[-2px] h-1 w-24 -translate-x-1/2 md:left-0 md:translate-x-0 md:w-[240px];
}

.card {
   @apply flex flex-col items-center py-6 shadow-lg rounded-lg w-72;
   background-image: url('../images/bg-dots.svg');
   background-repeat: no-repeat;
   background-position: 0% 75%;
}

.header-3 {
   @apply text-lg font-bold text-veryDarkBlue md:text-xl;
}

.small {
   @apply text-xs text-grayishBlue md:text-sm;
}

.question-answer {
   @apply py-5 border-b-2 cursor-pointer;
}

.question-answer:hover .header-3 {
   @apply text-softRed;
}

.question {
   @apply flex justify-between items-center;
}

.header-3 {
   @apply text-sm font-normal lg:text-base ease-in-out duration-300;
}

.input {
   @apply relative rounded-md h-12 pl-3 pr-10  text-veryDarkBlue outline-none;
}

.error {
   @apply border-2 border-softRed;
}

.header-4 {
   @apply text-xs uppercase;
   letter-spacing: 3px;
}

/* Media Querys   */
@media only screen and (max-width: 768px) {
   .pill {
      height: 260px;
   }
}

@media only screen and (max-width: 480px) {
   .pill {
      height: 200px;
   }
}
